*~
.SyncIgnore
.SyncArchive
.SyncID
local/
secret/
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/.python-environments
emacs/.emacs.d/elpa
emacs/.emacs.d/projectile*
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/.emacs.desktop*
*#
old
ssh
certs
globus
.sync
